
@use '../../styles/color.module.scss' as *;

.card {
  display: flex;
  flex-flow: row wrap;
  width: 750px;
  height: 200px;
  margin: 10px;
  background: $bg;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 4px 4px 16px #dddddd, -4px -4px 16px #ffffff;
}

.cardImg {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 60%;
  max-height: 60%;
  margin: 0;
}

.cardDesc {
  width: 65%;
  height: 100%;
  padding: 25px;
  padding-left: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.company {
  font-weight: 600;
  font-size: 1.25em;
}

.title {
  margin-bottom: 5px;
}

.location {
  font-weight: 300;
  font-size: 0.9em;
  color: $primary;
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 300px;
    padding: 15px;
    margin: 15px 0;
  }
  
  .cardImg {
    width: 100%;
    height: 60%;
  }

  .logo {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    margin: 0;
  }
  
  .cardDesc {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}